@import '../node_modules/mapbox-gl/src/css/mapbox-gl.css';
// Definition of variables
$primary: #32c3ff;


// ----------------------------------------
// To install Boostrap:
// 1) Run in the client folder: $ npm i bootstrap
// 2) Import bootstrap with the following line
// @import '../node_modules/bootstrap/scss/bootstrap.scss';
// 
// To install Reactstrap:
// 1) Run in the client folder: $ npm i reactstrap
// 2) Go to the official documentation and take some examples: https://reactstrap.github.io/
// import { Button } from 'reactstrap';
// <Button color="danger">Danger!</Button>
// ----------------------------------------


// --------------------
// Style reusable for all components
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.info {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: #5776e9;
  color: white;
}

.info.info-danger {
  background-color: #e73f3f;
}

// --------------------
// Style for App component
.App {
  text-align: center;

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }

  .App-header {
    background-color: $primary;
    padding: 20px;
    color: white;

    a {
      color: white;
      padding: 0 5px;
      text-decoration: unset;
    }

    a.active {
      font-weight: bold;
    }
  }

  .App-title {
    font-size: 1.5em;
  }

  .App-intro {
    font-size: large;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}

// --------------------
// Style for Home component
.Home {
  p {
    font-size: 1.2em;
  }
}

// --------------------
// Style for Secret component
.Secret {
  .result {
    font-size: 1.2em;
    color: $primary;
  }
}

.map {
  text-align: left;
}

.Login {
  // background-image:  url("/img/bcg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  // background-color: rgba(210,105,30,0.2);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto auto;
}

.Login::after {
  content: "";
  background-image:  url("/img/bcg.jpg");
  background-size: cover;
  opacity: 0.15;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.Login input {
  margin: 10px;
  background-color: rgba(0,0,0,0.5);
  padding: 5px;
  border-radius: 10px;
  border: none;
  color: white;
}

.Login button {
  margin: 10px;
  background-color: rgba(0,0,0,0.5);
  border: none;
  border-radius: 10px;
  padding: 7px;
  color: white;
}

.Login a {
  color: rgb(70, 70, 70);
  text-decoration: none;
}

.Login ::placeholder {
  color: white;
}

.Signup {
  // background-image:  url("/img/bcg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  // background-color: rgba(210,105,30,0.2);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto auto;
}

.Signup::after {
  content: "";
  background-image:  url("/img/bcg.jpg");
  background-size: cover;
  opacity: 0.15;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.Signup input {
  margin: 10px;
  background-color: rgba(0,0,0,0.5);
  padding: 5px;
  border-radius: 10px;
  border: none;
  color: white;
}

.Signup button {
  margin: 10px;
  background-color: rgba(0,0,0,0.5);
  border: none;
  border-radius: 10px;
  padding: 7px;
  color: white;
}

.Signup a {
  color: rgb(70, 70, 70);
  text-decoration: none;
}

.Signup ::placeholder {
  color: white;
}

.AddBarberShop {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.addbarbershop-center {
  display: flex;
  justify-content: center;
}

body {
  content: "";
  background-image:  url("/img/bcg.png");
  background-size: cover;
  // background-repeat: repeat;
  // opacity: 0.15;
}

.addbarbershop input{
  max-width: 250px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0,0,0,0.5);
  padding: 5px;
  border-radius: 10px;
  border: none;
  color: white;
}

.addbarbershop ::placeholder {
  color: white;
}

.addbarbershop button {
  margin: 10px;
  background-color: rgba(0,0,0,0.5);
  border: none;
  border-radius: 10px;
  padding: 7px;
  color: white;
}