.navbar nav {
  background-color: red;
  display: flex;
  justify-content: space-around;
  width: 100vw;
  margin-bottom: 10px;
}

.navbar button {
  margin: 2px;
  background-color: red;
  border: none;
  font-size: 30px;
  color: white;
}

.navbar h1 {
  color: white;
  margin-left: 10px;
  font-size: 20px;
}

.navbar a {
  text-decoration: none;
  color: white;
}